<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application form</title>
    <link href="{{ asset('assets/css/application.css') }}" rel="stylesheet">
</head>
<body>

<h2>Apply Now</h2>
<form action="{{ path('application_form', { 'job': job }) }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        {{form_row(ApplicationType.motivation)}}
    </div>
    <div class="form-group">
        {{form_row(ApplicationType.cv_path)}}
    </div>
    <button type="submit" class="btn-submit">Apply Now </button>
</form>
</body>
</html>
