
h1 {
    text-align: center;
    position: relative;
    top:40px;
    color: yellow;
}

.my-form {
    max-width: 750px;
    margin: 70px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    position: relative;
}
#addajob_submit{
    position: relative;
    background-color: #4cacaf;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    margin: 0 auto;
    display: block;
    align-self: center;
    right:40px;
}